In [58]:
HCV_df=read.csv(file = '/Users/shreya/Downloads/hcvdat0.csv')

In [59]:
head(HCV_df)

  X Category      Age Sex ALB  ALP  ALT  AST  BIL  CHE   CHOL CREA GGT  PROT
1 1 0=Blood Donor 32  m   38.5 52.5  7.7 22.1  7.5  6.93 3.23 106  12.1 69.0
2 2 0=Blood Donor 32  m   38.5 70.3 18.0 24.7  3.9 11.17 4.80  74  15.6 76.5
3 3 0=Blood Donor 32  m   46.9 74.7 36.2 52.6  6.1  8.84 5.20  86  33.2 79.3
4 4 0=Blood Donor 32  m   43.2 52.0 30.6 22.6 18.9  7.33 4.74  80  33.8 75.7
5 5 0=Blood Donor 32  m   39.2 74.1 32.6 24.8  9.6  9.15 4.32  76  29.9 68.7
6 6 0=Blood Donor 32  m   41.6 43.3 18.5 19.7 12.3  9.92 6.05 111  91.0 74.0

In [60]:
#Encode Y column to 0-3
HCV_df["Category"][HCV_df["Category"] == '0=Blood Donor'] <- 0
HCV_df["Category"][HCV_df["Category"] == '0s=suspect Blood Donor'] <- 0
HCV_df["Category"][HCV_df["Category"] == '1=Hepatitis'] <- 1
HCV_df["Category"][HCV_df["Category"] == '2=Fibrosis'] <- 2
HCV_df["Category"][HCV_df["Category"] == '3=Cirrhosis'] <- 3
#Encode Sex column to numeric: Male is 0, Female is 1
HCV_df["Sex"][HCV_df["Sex"] == 'm'] <- 0
HCV_df["Sex"][HCV_df["Sex"] == 'f'] <- 1
#Remove column of Patient ID
HCV_df <- subset (HCV_df, select = -X)

In [61]:
#Convert Y to a factor variable
HCV_df$Category=as.factor(HCV_df$Category)

In [62]:
#rows with atleast one null row
HCV_df[rowSums(is.na(HCV_df)) > 0,]

    Category Age Sex ALB  ALP   ALT   AST   BIL   CHE   CHOL CREA  GGT   PROT
122 0        43  0   48.6  45.0  10.5  40.5   5.3  7.09  NA   63.0  25.1 70.0
320 0        32  1   47.4  52.5  19.1  17.1   4.6 10.19  NA   63.0  23.0 72.2
330 0        33  1   42.4 137.2  14.2  13.1   3.4  8.23  NA   48.0  25.7 74.4
414 0        46  1   42.9  55.1  15.2  29.8   3.6  8.37  NA   61.0  29.0 71.9
425 0        48  1   45.6 107.2  24.4  39.0  13.8  9.77  NA   88.0  38.0 75.1
434 0        48  1   46.8  93.3  10.0  23.2   4.3 12.41  NA   52.0  23.9 72.4
499 0        57  1   48.4  94.4   2.5  39.6   2.3  8.84  NA   82.0   6.4 76.8
541 1        38  0   45.0  56.3    NA  33.1   7.0  9.58 6.0   77.9  18.9 63.0
542 1        19  0   41.0    NA  87.0  67.0  12.0  7.55 3.9   62.0  65.0 75.0
546 1        29  0   49.0    NA  53.0  39.0  15.0  8.79 3.6   79.0  37.0 90.0
547 1        30  0   45.0    NA  66.0  45.0  14.0 12.16 6.1   86.0  43.0 77.0
569 2        49  0   39.0    NA 118.0  62.0  10.0  7.28 3.5   72.0  74.0 81.0
570 2        49  0   46.0    NA 114.0  75.0  16.0 10.43 5.2   72.0  59.0 82.0
571 2        50  0   42.0    NA 258.0 106.0  15.0  8.74 4.7   77.0  80.0 84.0
572 2        53  0   46.0    NA  34.0  43.0  14.0  8.77 4.0  112.0 203.0 76.0
577 2        71  0   37.0    NA 130.0  90.0  15.0  9.92 4.7   79.0  77.0 76.0
582 2        49  1   39.0    NA  46.0  39.0   9.0 10.21 3.1   89.0  53.0 79.0
583 2        51  1   37.0    NA 164.0  70.0   9.0  3.99 4.2   67.0  43.0 72.0
584 2        56  1   39.0    NA  42.0  34.0  10.0  7.75 5.0   80.0  84.0 78.0
585 2        75  1   36.0    NA 114.0 125.0  14.0  6.65  NA   57.0 177.0 72.0
586 3        38  0   44.0    NA  94.0  60.0  12.0  4.37 3.2   61.0  99.0 77.0
591 3        46  0   20.0    NA  62.0 113.0 254.0  1.48  NA  114.0 138.0   NA
593 3        47  0   42.0    NA 159.0 102.0  11.0  6.29 5.5   58.0 201.0 79.0
604 3        65  0     NA    NA  40.0  54.0  13.0  7.50  NA   70.0 107.0 79.0
614 3        46  1   33.0    NA  39.0  62.0  20.0  3.56 4.2   52.0  50.0 71.0
615 3        59  1   36.0    NA 100.0  80.0  12.0  9.07 5.3   67.0  34.0 68.0

In [63]:
summary(HCV_df)

 Category      Age            Sex                 ALB             ALP
 0:540    Min.   :19.00   Length:615         Min.   :14.90   Min.   : 11.30
 1: 24    1st Qu.:39.00   Class :character   1st Qu.:38.80   1st Qu.: 52.50
 2: 21    Median :47.00   Mode  :character   Median :41.95   Median : 66.20
 3: 30    Mean   :47.41                      Mean   :41.62   Mean   : 68.28
          3rd Qu.:54.00                      3rd Qu.:45.20   3rd Qu.: 80.10
          Max.   :77.00                      Max.   :82.20   Max.   :416.60
                                             NA's   :1       NA's   :18
      ALT              AST              BIL             CHE
 Min.   :  0.90   Min.   : 10.60   Min.   :  0.8   Min.   : 1.420
 1st Qu.: 16.40   1st Qu.: 21.60   1st Qu.:  5.3   1st Qu.: 6.935
 Median : 23.00   Median : 25.90   Median :  7.3   Median : 8.260
 Mean   : 28.45   Mean   : 34.79   Mean   : 11.4   Mean   : 8.197
 3rd Qu.: 33.08   3rd Qu.: 32.90   3rd Qu.: 11.2   3rd Qu.: 9.590
 Max.   :325.30   Max.   :324.00   Max.   :254.0   Max.   :16.410
 NA's   :1
      CHOL            CREA              GGT              PROT
 Min.   :1.430   Min.   :   8.00   Min.   :  4.50   Min.   :44.80
 1st Qu.:4.610   1st Qu.:  67.00   1st Qu.: 15.70   1st Qu.:69.30
 Median :5.300   Median :  77.00   Median : 23.30   Median :72.20
 Mean   :5.368   Mean   :  81.29   Mean   : 39.53   Mean   :72.04
 3rd Qu.:6.060   3rd Qu.:  88.00   3rd Qu.: 40.20   3rd Qu.:75.40
 Max.   :9.670   Max.   :1079.10   Max.   :650.90   Max.   :90.00
 NA's   :10                                         NA's   :1

In [64]:
#Impute values using column medians
library(dplyr)
HCV_df=HCV_df %>% 
  mutate(ALT = ifelse(is.na(ALT),
                            median(ALT, na.rm = T),
                            ALT))
HCV_df=HCV_df %>% 
  mutate(PROT = ifelse(is.na(PROT),
                            median(PROT, na.rm = T),
                            PROT))
HCV_df=HCV_df %>% 
  mutate(CHOL = ifelse(is.na(CHOL),
                            median(CHOL, na.rm = T),
                            CHOL))
HCV_df=HCV_df %>% 
  mutate(ALB = ifelse(is.na(ALB),
                            median(ALB, na.rm = T),
                            ALB))
HCV_df=HCV_df %>% 
  mutate(ALP = ifelse(is.na(ALP),
                            median(ALP, na.rm = T),
                            ALP))

In [65]:
#Data Check: no null rows remaining
HCV_df[rowSums(is.na(HCV_df)) > 0,]

     Category Age Sex ALB ALP ALT AST BIL CHE CHOL CREA GGT PROT

In [66]:
#Distribution of classes in the datset
library(dplyr)
HCV_df %>%  group_by(Category) %>% summarise(my_counts = n())

  Category my_counts
1 0        540
2 1         24
3 2         21
4 3         30

In [67]:
#Split the data into the training and test data with the same proportion classes as in the original data
library(caret)
set.seed(3456)
trainIndex <- createDataPartition(HCV_df$Category, p = .7,
                                  list = FALSE,
                                  times = 1)
Train <- HCV_df[ trainIndex,]
Test <- HCV_df[-trainIndex,]

In [68]:
#Data Check: Proportions are maintained within the splits
library(dplyr)
Train %>%  group_by(Category) %>% summarise(my_counts = n())

library(dplyr)
Test %>%  group_by(Category) %>% summarise(my_counts = n())

  Category my_counts
1 0        378
2 1         17
3 2         15
4 3         21

  Category my_counts
1 0        162
2 1          7
3 2          6
4 3          9

In [69]:
#Convert to train_x, train_y, test_x, test_y
train_labels=Train[["Category"]]
test_labels=Test[['Category']]
train_x=Train %>% select(-starts_with('Category'))
test_x=Test %>% select(-starts_with('Category'))

In [70]:
#store as matrix form
train_labels = as.matrix(train_labels)
test_labels = as.matrix(test_labels)
train_x=as.matrix(train_x)
test_x=as.matrix(test_x)

In [71]:
#Export to csvs
write.csv(train_labels,"/Users/shreya/Desktop/STAT 503/train_labels.csv", row.names = FALSE)
write.csv(test_labels,"/Users/shreya/Desktop/STAT 503/test_labels.csv", row.names = FALSE)
write.csv(train_x,"/Users/shreya/Desktop/STAT 503/train_x.csv", row.names = FALSE)
write.csv(test_x,"/Users/shreya/Desktop/STAT 503/test_x.csv", row.names = FALSE)